<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>欢迎使用工程师资料管理系统</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/jquery-3.3.1.min.js}">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />

    <!-- Custom CSS -->
    <link href="css/style.css" rel='stylesheet' type='text/css' />

    <!-- font-awesome icons CSS -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons CSS-->

    <!-- side nav css file -->
    <link href='css/SidebarNav.min.css' media='all' rel='stylesheet' type='text/css'/>
    <!-- //side nav css file -->

    <!-- js-->
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/modernizr.custom.js"></script>

    <!--webfonts-->
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
    <!--//webfonts-->

    <!-- chart -->
    <script src="js/Chart.js"></script>
    <!-- //chart -->

    <!-- Metis Menu -->
    <script src="js/metisMenu.min.js"></script>
    <script src="js/custom.js"></script>
    <link href="css/custom.css" rel="stylesheet">
    <!--//Metis Menu -->
    <style>
        #chartdiv {
            width: 100%;
            height: 295px;
        }
    </style>
</head>

<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h3>修改用户信息</h3>
            </div>
        </div>
    </div>

    <label class="alert alert-danger" role="alert"th:each="errors:${error}" th:text="${errors.getDefaultMessage()}"></label>

    <form th:action="@{/updateUser}" method="post">
        <input type="hidden" name="id" th:value="${user.getId()}">
        <div class="form-group">
            <label>用户名</label>
            <input th:value="${user.getUsername()}" type="text" name="username" class="form-control" required>
        </div>
        <div class="form-group">
            <label>密码</label>
            <input th:value="${user.getPassword()}" type="text" name="password" class="form-control" required>
        </div>
        <div class="form-group">
            <label>身份</label>
            <div class="form-check form-check-inline" >
                <input th:checked="${user.getIdentity()==1}" class="form-check-input" type="radio" name="identity" value="1">
                <label class="form-check-label">普通用户</label>
            </div>
            <div class="form-check form-check-inline">
                <input th:checked="${user.getIdentity()==0}" class="form-check-input" type="radio" name="identity" value="0">
                <label class="form-check-label">管理员</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">确定修改</button>
    </form>
</div>

<!-- //删除提示js -->
<script type="text/javascript">
    const deleteALl = document.getElementById('deleteAll');
    const findById = document.getElementById('findId');
    deleteALl.onclick=function () {
        const msg = "确定要删除所有工程师信息吗";
        if(confirm(msg) == true){
            return true;
        }
        return false;
    }

    function checkIdInput() {
        const val = findById.value;
        const p = /^\d+$/;
        if(val !="") {
            if (p.test(val)) {
                return true;
            } else {
                alert("按照ID查询请正确输入");
                return false;
            }
        }
    }
</script>
</body>
</html>