<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zafu.engineersystem.mapper.UserMapper">
    <select id="getAllUser" resultType="User">
        select * from user1
    </select>

    <insert id="addUser" parameterType="User">
       insert into user1(username,password,identity)
            select #{username},#{password},#{identity}
                from dual WHERE not exists (select * from user1
                    where username = #{username})
    </insert>

    <delete id="deleteUser" parameterType="String">
        delete from user1 where username=#{username}
    </delete>

    <delete id="deleteUserById" parameterType="int">
        delete from user1 where id=#{id}
    </delete>

    <update id="updateUser" parameterType="User">
        update user1 set username=#{username},password=#{password},identity=#{identity} where id=#{id}
    </update>

    <select id="getUserByName" parameterType="String" resultType="User">
        select * from user1 where username=#{username};
    </select>

    <select id="getUserById" parameterType="int" resultType="User">
        select * from user1 where id=#{id};
    </select>

</mapper>